button:hover {
  opacity: 0.7;
}
a {
  text-decoration: none;
  color: lightgray;
}
a:hover {
  color: lightgray;
}
.mike-container {
  text-align: center;
}
.todo-main {
  width: 700px;
  margin: auto;
  margin-top: 150px;
  font-family: sans-serif;
  /*outline-style: dotted;*/
}
.mike-header h1 {
  font-size: 77px;
  color: dodgerblue;
  margin-bottom: 0;
}
.mike-header h2 {
  font-size: 18px;
}
#id-div-form {
  display: inline-block;
  width: 70%;
  /*outline-style: dashed;*/
  margin-top: 40px;
}
#id-input-add {
  width: 80%;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  height: 35px;
  margin: 5px;
  padding: 0 10px;
}
#id-button-add {
  width: 10%;
  height: 31px;
  margin: 5px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.todo-content {
  /*background: aquamarine;*/
  margin-top: 50px;
  width: 84%;
}
.todo-task-cell {
  /*outline-style: solid;*/
  padding: 15px;
  margin-left: 42px;
  padding: 7px;
}
/*.todo-task-cell + .todo-task-cell {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: lightgray;
}*/
.todo-task-item {
}
.todo-task-item-task {
  flex-grow: 20;
  /* width: 72%; */
  margin-left: 20px;
  padding: 7px;
  background: dodgerblue;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}
.todo-task-item-done {
  display: block;
  padding: 7px;
  background: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 90%;
  margin-left: 54px;
  text-align: left;
  padding-left: 20px;
}
.todo-task-item-done:hover {
  text-decoration: line-through;
  background-color: lightgray;
  color: white;
  opacity: 0.7;
}
.mike-block {
  height: 1px;
  width: 520px;
  position: absolute;
  left: 350px;
  background-color: dodgerblue;
  margin-top: 30px;
}
