<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <link rel="stylesheet" href="/static/css/index.css">
</html>
<body>
  <div class="mike-container">
    <div class="mike-main">
      <div class="mike-header">
        <h1>TODO</h1>
        <h2>记录你的待办事项</h2>
      </div>
      <div class="mike-form">
        <div class="mike-tag">
          <span>注册</span>
          <div class="mike-block"></div>
        </div>
        <div id="id-div-register">
          <form action="{{ url_for('.new') }}" method="post">
            <div class="mike-form-textinput">
              <div class="mike-input-wrapper">
                <input type="text" name="username" placeholder="用户名">
              </div>
              <div class="mike-input-wrapper">
               <input type="password" name="password" placeholder="密码">
              </div>
            </div>
            <button class="mike-button-big">注册</button>
          </form>
        </div>
    </div>
    <div class="mike-alert">
      {% if get_flashed_messages() %}
        {% for m in get_flashed_messages() %}
          {{ m }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</body>
</html>
