<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博</title>
    <link rel="stylesheet" href="/static/css/timeline.css">
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="/static/js/timeline.js"></script>
</head>
<body>
    <div class="weibo-header">
        <h2>weibo</h2>
    </div>
    <div class="weibo-form">
        <form action="/weibo/add" method="post">
            <input id="id-input-weibo-content" name="content">
            <br>
            <button>发布</button>
        </form>
    </div>
    <div class="weibo-container">
        {% for w in weibos %}
            <div class="weibo-content">
                <p>{{ w.content }} @ {{ w.created_time }}</p>
                <div class="weibo-comment-all">
                    {% for c in w.comments %}
                    <div class="weibo-comment-item">
                        <p>{{ c.content }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="weibo-comment-form">
                    <!--<form action="/comment/add" method="post">-->
                    <input class="weibo-comment-weibo_id" type="hidden" name="weibo_id" value="{{ w.id }}">
                    <input class="weibo-comment-content" name="content">
                    <button class="weibo-comment-add" type="submit">评论</button>
                    <!--</form>-->
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>