<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>Todo</title>
</head>
<body>
  <div id="id-div-center">
    <div>
        <h1>{{ username }}</h1>
    </div>
    <div class="form-group">
        <form action="{{ url_for('todo.add') }}" method="post">
            <input id="id-input-task" class="form-control" type="text" placeholder="待办事项" name="task">
            <button class="btn btn-primary" type="submit">添加</button>
        </form>
    </div>
  </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Task</td>
                <td>Time</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
        {% for t in todos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.task }}</td>
                <td>{{ t.created_time }}</td>
                <td><a href={{ url_for('todo.delete', todo_id=t.id) }}>删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>