<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Todolist</title>
</head>
<body>
    <div>
        <h1>Todo</h1>
        <form action={{ url_for("todo.add") }} method="post">
            <input type="text" placeholder="待办事项" name="task">
            <button type="submit">添加</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for t in todos %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.task }}</td>
                <td>{{ t.created_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>